.right-panel {
  width: 25%;
  position: sticky;
  top: 2rem;
  background-color:cornflowerblue;
}

.page-x-margin {
  margin-left: 6.25em;
  margin-right: 6.25em;
}

.left-panel {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  width: 75%;
  /* margin: 2rem auto; */
}



