* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Poppins', sans-serif; */
}

/* NEW STYLES */
.no-y-margin {
  margin-top: 0;
  margin-bottom: 0;
}

/* .page-x-margin {
  margin-left: 6.25em;
  margin-right: 6.25em;
} */

.booking-section {
  padding-left: 6.25em;
  padding-right: 6.25em;
  margin-bottom: 20px;
  height: 400px;
  width: 100%;
  background-color: #3374EB;
}

.theme-color-blue {
  background-color: #3374EB;
  color: #FFFFFF;
}

.theme-color-light {
  background-color: #FFFFFF;
  color: #2F67D5;
}

#btnCalendly:hover {
  background-color: #cfcaca;
}



/* MEDIA QUERY FOR BOOKING SECTION *********************/
/* TODO: check this */
@media screen and (max-width: 576px) {
  .booking-section {
    padding: 2em 2em;
    /* margin: 0; */
  }
}

@media screen and (min-width: 577px) and  (max-width: 768px) {
  .booking-section {
    padding: 4em 4em;
    /* margin: 0; */
  }
}
