* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Poppins', sans-serif; */
}

#loader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 9999;
}
/* NEW STYLES */
.no-y-margin {
  margin-top: 0;
  margin-bottom: 0;
}

/* .page-x-margin {
  margin-left: 6.25em;
  margin-right: 6.25em;
} */

.booking-section {
  padding-left: 6.25em;
  padding-right: 6.25em;
  background-color: #3374EB;
}

.theme-color-blue {
  background-color: #3374EB;
  color: #FFFFFF;
}

.theme-color-light {
  background-color: #FFFFFF;
  color: #2F67D5;
}

#btnCalendly:hover {
  background-color: #cfcaca;
}

/* #customModal::backdrop {
  background-color: purple;
  opacity: .2;
} */

.modal::backdrop {
  background-color: purple;
  
}

.message-section {
  margin-left: 6.25em;
  margin-right: 6.25em;
}

.message-form {
  margin-left: 6.25em;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

/* RESOPNSIVE *********************/
@media screen and (max-width: 576px) {
  .booking-section {
    padding: 1em 1em;
  }
  .message-section {
    padding: 1em 1em;
    margin: 5em 1em;
  }
}

@media screen and (min-width: 577px) and  (max-width: 768px) {
  .booking-section{
    padding: 2em 2em;
  }
  .message-section {
    padding: 2em 2em;
    margin: 5em 1em;
  }
}
