@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Poppins&family=Roboto:wght@400;500;700&display=swap');

#loader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 9999;
}

.pill-navbar *,
.tab-container *,
.feature-optician *{
  font-family: 'Roboto', sans-serif;
}

.pill-navbar {
  margin-left: 6.25em;
  margin-right: 6.25em;
  position: sticky;
  top: 1rem;
  /* height: auto; */
  z-index: 10;
}

.tab-container .active {
  display: block;
}

.tab-container .inactive {
  display: none;
}

.tab-container {
  margin-left: 6.25em;
  margin-right: 6.25em;
}

.ishihara .nav {
  background-color: #2F67D5;

}

.ishihara .nav-link {
  color: white;
}

.ishihara .nav-link:active {
  background-color: #18A0FB;
  color: white;
}

.ishihara-bg {
  /* background-size:contain; */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  z-index: -1;
}

/* .ishihara-container {
  height: 600px;
  width: 600px;
  position: relative;
}

.plate-container {
  object-fit: cover;
  object-position: center;
  padding: 10px;
  height: 380px;
  width: 380px;
  overflow: hidden;

  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: auto;
  height: auto;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  object-position: center;

} */

/* .plate-container {
  height: 400px;
} */

.ishihara-plate-img {
  height: 50vh;
  width: 100%;
  object-fit: cover;
  object-position: center;
  object-fit: scale-down;
  transition: 200ms ease-in-out;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

/* TODO: FIX BUTTON COLOR WHEN CLICKED */
/* .btn:not(:disabled):not(:disabled):active {  */
/* background-color: #FD8647; */
/* background-color: red; */

/* .btn:active { */

/* .inputBtn {
  background-color:#2F67D5;
  color: white;
  cursor:pointer;

} */
.optionBtn.btn.active {
  background-color:#FD8647;
  color: black;
  border: none;
}
.optionBtn {
  background-color:#2F67D5;
  color: white;
  border: none;
}
.optionBtn:hover {
  background-color: #FD8647;
  color: black;
  border: none;
}

.feature-optician {
  background-color: #2F67D5;
  padding: 3em 6.25em;
  text-justify: distribute;
}

.zoom-plate {
  overflow: hidden;
}

.zoom-plate img {
  transition: all 1s ease;
}

.zoom-plate:hover img {
  transform: scale(1.25);
}

/* TODO: STYLES FOR TABLE */
#table-head {
  height: 100%;
  width: 100%;
  /* flex-grow: 1;
  flex-basis: 200px; */
  position: sticky;
  top: 5rem;
  cursor: pointer;
}

@media screen and (max-width: 576px) {

  .pill-navbar,
  .tab-container {
    margin-left: 1.25em;
    margin-right: 1.25em;
  }
  .feature-optician {
    padding-left: 1.25em;
    padding-right: 1.25em;
  }
  /* TODO: */
  .tab-pane,
  .tab-pane .content {
    padding-left: 1em;
    padding-right: 1em;
    font-size: 0.8rem;
  }


}

@media screen and (max-width: 830px) {
  .nav-pills {
    flex-direction: column;
  }

}