@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Roboto', sans-serif; */
}

#parallax-section .page-title {
  background: white; 
  padding-top: 100px;
  padding-bottom: 20px; 
  margin:0 auto; 
  text-align:center;
}

#parallax-section .page-title h1 {
  font-size:35px; 
  letter-spacing:8px;
}

#parallax-section .parallax-content {
  background: white; 
  padding-top: 1.8em;
  padding-bottom: 1.8em; 
  padding-left: 6.25em;
  padding-right: 6.25em;
  width: 100%;
  margin:0 auto; 
  text-align:justify;
}

#parallax-section .parallax1 {
  color: white;  
  padding-left: 6.25em;
  padding-right: 6.25em;
  padding-top: 200px; 
  padding-bottom: 200px; 
  overflow: hidden; 
  position: relative; 
  width: 100%; 
  background-image: url(photo/services-adult-eye-exam.jpg); 
  background-attachment: fixed; 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: top center;
}

#parallax-section .parallax2 {
  padding-left: 6.25em;
  padding-right: 6.25em;
  padding-top: 200px; 
  padding-bottom: 200px; 
  overflow: hidden; 
  position: relative; 
  width: 100%; 
  background-image: url(photo/services-child-eye-exam.jpg); 
  background-attachment: fixed; 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center center;
}

#parallax-section .parallax3 {
  padding-left: 6.25em;
  padding-right: 6.25em;
  padding-top: 200px; 
  padding-bottom: 200px; 
  overflow: hidden; 
  position: relative; 
  width: 100%; 
  background-image: url(photo/services-contact-lens.jpg); 
  background-attachment: fixed; 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center center;}




/* RESPONSIVLE PARALLAX */
/* big */
@media screen and (max-width: 959px) and (min-width: 768px) {
  #parallax-section .parallax-content {
    padding: 20px; 
    width: 620px;    
}

/* medium */
@media screen and (max-width: 767px) {
  #parallax-section .parallax-content {
    padding: 30px; 
    width:420px;
  }
  #parallax-section .parallax-content {
    padding: 30px; 
    width: 420px;
  }
  #parallax-section h2 {
    font-size: 30px;
  }  
  #parallax-section .parallax-title {
    padding-top: 30px; 
    padding-bottom: 30px;    
  }

}
/* small */
@media screen and (max-width: 479px) {
  #parallax-section .parallax-content {
    padding: 20px 5px; 
    width: 290px;
  }
  #parallax-section .parallax1, 
  #parallax-section .parallax2, 
  #parallax-section .parallax3, 
  #parallax-section .parallax-location {
  padding: 20px 5px; 
  width: 290px;
  }  
 
}